Data Structure Theoretical Question

In [ ]:
# 1Q

Data Types and Structures - Theoretical Questions

1. What are data structures, and why are they important?

   Ans.- Data structures are specialized formats for organizing, storing, and managing data efficiently. They are important because they optimize performance for data operations like searching, inserting, and deleting, improving efficiency in programming and algorithms.

In [ ]:
#2.Q

2. Explain the difference between mutable and immutable data types with examples.

   ans.-
   Mutable data types can be modified after creation (e.g., lists, dictionaries, sets in Python).

  Immutable data types cannot be changed once created (e.g., strings, tuples, integers in Python).

In [ ]:
# Example
my_list = [1, 2, 3]  # Mutable
my_list.append(4)  # Modifies the list

my_tuple = (1, 2, 3)  # Immutable
# my_tuple[0] = 4  # This will cause an error
print(my_list)
print(my_tuple)

[1, 2, 3, 4]
(1, 2, 3)

In [ ]:
# 3Q

3. What are the main differences between lists and tuples in Python?
Ans.-

  Lists are mutable, while tuples are immutable.

  Lists have dynamic size, whereas tuples have fixed size.

  Tuples are faster and use less memory than lists.

In [ ]:
# Example
my_list = [1, 2, 3]  # Mutable
my_tuple = (1, 2, 3)  # Immutable
print(my_list)
print(my_tuple)

[1, 2, 3]
(1, 2, 3)

In [ ]:
# 4Q

4. Describe how dictionaries store data.
  
  Ans.- Dictionaries store data as key-value pairs using a hash table. Each key is hashed to determine its storage location, making lookups very fast.

In [ ]:
# 5Q

5. Why might you use a set instead of a list in Python?

   Ans.- Sets remove duplicate values automatically.

   Searching in sets is faster vs. lists.

   Useful when storing unique items.

In [ ]:
# 6Q

6. What is a string in Python, and how is it different from a list?

   Ans.- A string is an immutable sequence of characters.

   Unlike lists, strings cannot be modified in place.

In [ ]:
# Example
my_string = "Hello"  # Immutable
# my_string[0] = 'J'  # This will cause an error

In [ ]:
# 7Q

7. How do tuples ensure data integrity in Python?
   
   Ans.-Since tuples are immutable, their values cannot be changed, ensuring data consistency and preventing accidental modifications.

In [ ]:
# 8Q

8. What is a hash table, and how does it relate to dictionaries in
   Python?
   
   Ans.- A hash table is a data structure that maps keys to values using a hashing function. Python dictionaries use hash tables to provide fast lookup times.

In [ ]:
# 9Q

9. Can lists contain different data types in Python?

  Ans.-
  Yes, lists in Python can hold elements of different types, such as integers, strings, and even other lists.

In [ ]:
# 10Q

10. Explain why strings are immutable in Python.

    Ans.- Strings are immutable to ensure security, thread safety, and efficient memory management.

In [ ]:
# 11Q

What advantages do dictionaries offer over lists for certain tasks?
Ans.-

 Fast lookups.

 Key-value mapping allows structured data storage.

 More efficient for searching and organizing data.

In [ ]:
# 12Q

12. Describe a scenario where using a tuple would be preferable over a
    list.

  
    Ans.-
    Tuples are preferred when:

    Data should remain constant (e.g., database records).

    Performance is critical (tuples are faster and use less memory).

    Example: Storing coordinates (latitude, longitude).

In [ ]:
# 13Q

13. How do sets handle duplicate values in Python?

    Ans.- Sets automatically remove duplicate values.

In [ ]:
# Example
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

In [ ]:
# 14Q

14. How does the in keyword work differently for lists and
    dictionaries?

Ans.-
    In lists, 'in' checks if a value is present.

  In dictionaries, 'in' checks if a key exists.

In [ ]:
# 15Q

15. Can you modify the elements of a tuple? Explain why or why not?

    Ans.- No, tuples are immutable, meaning elements cannot be modified after creation.

In [ ]:
# 16Q

16. What is a nested dictionary, and give an example of its use case?

  Ans.- A nested dictionary is a dictionary inside another dictionary.

In [ ]:
# Example
student = {
    "name": "Anshul Garg",
    "age": 20,
    "grades": {
        "math": 90,
        "science": 85,
        "history": 78
    }
}
print(student["name"])
print(student["grades"]["math"])

Anshul Garg
90

In [ ]:
# 17Q

17. Describe the time complexity of accessing elements in a dictionary.

    Ans.- The time complexity is  on average due to hash table indexing.

In [ ]:
# 18Q

18. In what situations are lists preferred over dictionaries?

Ans.-
    1.When order is important.
     
  2.When elements do not require key-value mapping.
    
  3.When sequential data storage is needed.

In [ ]:
# 19Q

19. Why are dictionaries considered unordered, and how does that
    affect data retrieval?

   Ans.- Dictionaries are unordered because they store elements based on hash values, not sequence.

In [ ]:
# 20Q

20. Explain the difference between a list and a dictionary in terms of
    data retrieval.

Ans.- 1.List retrieval requires an index.

2.Dictionary retrieval uses a key.

Data Structure -Practical Question

In [1]:
# 1Q  DP Write a code to create a string with your name and print it?
name = "Anshul Garg"
print(name)

Anshul Garg

In [3]:
# 2Q Write a code to find the length of the string "Hello World".
string = "Hello World"
length = len(string)
print(length)

11

In [4]:
# 3Q  Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
sliced_string = string[0:3]
print(sliced_string)

Pyt

In [8]:
# 4Q  Write a code to convert the string "hello" to uppercase.
string = "hello"
string.upper()

'HELLO'

In [9]:
# 5Q (P Write a code to replace the word "apple" with "orange" in the string "I like apple"P
string = "I like apple"
s_replace = string.replace("apple", "orange")
print(s_replace)

I like orange

In [10]:
# 6Q  Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [11]:
# 7Q 'P Write a code to append the number 10 to the list [1, 2, 3, 4]P
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [12]:
# 8Q Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [13]:
# 9Q  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [21]:
# 10Q Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10,20,30,40,50]
lis_reverse = list[::-1]
print(lis_reverse)

[50, 40, 30, 20, 10]

In [23]:
# 11Q Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [24]:
# 12Q 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[1:4])

('green', 'blue', 'yellow')

In [27]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [29]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [31]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ('apple', 'banana', 'kiwi')
'kiwi' in tuple

True

In [37]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a','b','c'}
print(set)  # sets are unordered data type

{'c', 'a', 'b'}

In [38]:
# 17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1,2,3,4,5}
set.clear()
print(set)

set()

In [39]:
set

set()

In [40]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [43]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1,2,3}
set2 = {3,4,5}
set1 | set2

{1, 2, 3, 4, 5}

In [44]:
set1 = {1,2,3}
set2 = {3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [45]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {2,3,4}
set1 & set2

{2, 3}

In [46]:
set1 = {1,2,3}
set2 = {2,3,4}
set1.intersection(set2)

{2, 3}

In [48]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {
    "name" : "Anshul Garg",
    "age" : 19,
    "city" : "Delhi"
}
print(dict)

{'name': 'Anshul Garg', 'age': 19, 'city': 'Delhi'}

In [52]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {"name":"John", "age":25,}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [53]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
dict["name"]

'Alice'

In [56]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {"name": "bob", "age":22, "city": "New York"}
dict.pop("age")
print(dict)

{'name': 'bob', 'city': 'New York'}

In [60]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {"name":"Alice","city":"Paris"}
"city" in dict

True

In [61]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4,5]
tuple = (1,2,3,4,5)
dict = {"name":"Anshul Garg", "age":19}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Anshul Garg', 'age': 19}

In [77]:
''' 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)'''
import random
list = [random.sample(range(1,100),5)]
list.sort()
print(list)

[[86, 38, 32, 41, 21]]

In [85]:
# 28. Write a code to create a list with strings and print the element at the third index
list = ["Anshul", "Garg", "Delhi"]
print(list[2])
list.index("Delhi")

Delhi

2

In [87]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name":"Anshul Garg", "age":19}
dict2 = {"city":"Delhi", "state":"Delhi"}
dict1.update(dict2)
print(dict1)
#or
dict3 = {**dict1, **dict2}
print(dict3)

{'name': 'Anshul Garg', 'age': 19, 'city': 'Delhi', 'state': 'Delhi'}
{'name': 'Anshul Garg', 'age': 19, 'city': 'Delhi', 'state': 'Delhi'}

In [3]:
# 30. Write a code to convert a list of strings into a set.
list = ["Anshul", "Garg", "Delhi"]
set(list)

{'Anshul', 'Delhi', 'Garg'}